/* General */
html {
    box-sizing: border-box;
    font-size: 100%;
    background-color: rgb(183, 185, 185);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
    background-color: rgb(47, 43, 43);
    font-weight: bold;
    font-size: 36px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header img {
    width: 80px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

/* nav */
.menu-superior {
    background-color: grey;
    color: white;
    padding: 16px 160px;
    text-align: center;
}

.menu-superior a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    border-radius: 16px;
}

.menu-superior a:hover {
    background-color: rgb(117, 142, 226);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(94, 88, 88);
    padding: 16px 0 16px 0;
}

#navegacion {
    display: flex;
    flex-direction: column;
}

footer h3 {
    margin: 0;
}

/* Principal */
.marca {
    display: flex;
    align-items: center;
    margin: 5%;
}

.primer-coche {
    width: 30%;
    padding: 16px;
}

.texto-marca h2 {
    font-size: 40px;
}

.texto-marca p {
    font-size: 20px;
}

.objetivos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
}

.texto-objetivos {
    width: 100%;
    text-align: center;
}

.texto-objetivos h2 {
    font-size: 40px;
}

.texto-objetivos p {
    font-size: 20px;
}

.objetivos-MB {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* Compra */
.formulario-compra {
    background-color: antiquewhite;
    padding: 32px;
    margin-top: 32px;
    max-width: 80%;
    margin: 0 auto;
}

.formulario-compra h2 {
    font-size: 40px;
    margin-bottom: 32px;
    text-align: center;
}

.formulario-compra label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.formulario-compra input[type="text"],
.formulario-compra input[type="tel"],
.formulario-compra input[type="email"],
.formulario-compra input[type="date"],
.formulario-compra select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    margin-bottom: 8px;
    font-size: 20px;
}

.formulario-compra input[type="radio"] {
    margin-right: 8px;
}

/* Servicios */
.tipos-servicios {
    margin-left: 32px;
    margin-right: 32px;
}

.texto-servicios h2 {
    font-size: 40px;
}

.texto-servicios p {
    font-size: 20px;
}

.tipos-servicios-detalle {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.tipos-servicios-detalle img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.tipos-servicios-detalle h3 {
    font-size: 30px;
    margin-top: 16px;
}

.tipos-servicios-detalle p {
    font-size: 20px;
    margin-top: 8px;
}

.tipos-servicios ul,
.tipos-servicios li {
    font-size: 20px;
}

.ServiceCare,
.CompleteCare,
.Ampliacion-Garantia {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 0.5px dotted black;
}

.tipos-servicios-detalle a {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.tipos-servicios-detalle a:hover {
    background-color: rgb(117, 142, 226);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    background-color: white;
    text-align: center;
}

td {
    text-align: center;
}

.category {
    background-color: white;
    font-weight: bold;
    text-align: left;
}

.checkmark {
    color: blue;
    font-weight: bold;
}

/* Productos */
.productos {
    margin-left: 300px;
    margin-right: 300px;
}

.texto-productos h2 {
    font-size: 40px;
}

.texto-productos p {
    font-size: 20px;
}

.tipos-productos {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.tipos-productos img {
    width: 50%;
    height: 380px;
    object-fit: cover;
}

.tipos-productos h3 {
    font-size: 30px;
    margin-top: 16px;
}

.tipos-productos p {
    font-size: 20px;
    margin-top: 8px;
}

.claseV,
.vito,
.marcoPolo {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.tipos-productos img:hover {
    border: 3px solid black;
    border-radius: 5px;
}